body,
html {
  background-color: #010409;
  color: #E6EDF3;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.home {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.category-container {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: 1%;
  padding: 1%;
  border-radius: 10px;
  background-color: #0F1218;
  border: 1px solid #30363D;
}

#category-title {
  font-size: 30px;
  font-weight: bold;
  margin-top: -30px;
  padding: 0 0 2%;
}

#add-button {
  align-self: center;
}

#category-edit-button {
  align-self: flex-end;
}

#edit-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#delete-button {
  align-self: flex-end;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}